@media only screen and (max-width:1200px) {


    body {
        /* background-color: white; */
    }

    .holder {
        padding: none;
        margin: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;

        /* width: 100%; */
        box-shadow: none;
        /* background-color: white; */





    }

    .info-bottoms {
        /* flex-direction: row; */
        align-items: start;
    }

    .navbar {
        display: none;
    }



    .left-holder img {
        height: 10rem;
        width: auto;

    }

    .right-holder {
        justify-content: center;
        align-items: center;

    }

    .info-tops {
        justify-content: center;
        align-items: center;
        text-wrap: initial;
    }

    .container {
        padding: 0;
    }

    .mobile-header {
        display: block;

    }

    .navlinks img {
        display: none;
    }

    .navlink {
        display: none;
    }

    .navbar-brand {
        aspect-ratio: 1/1;
        width: auto;
        height: 4rem;
    }

    .navbar-toggler {
        display: block;
        border: none;
        outline: none;

    }

    .navbar-toggler:focus {
        border: none;
        outline: none;
    }

}