@media only screen and (max-width:1200px) {
    * {
        /* background-color: aquamarine; */
        justify-content: center;
        height: 100%;
    }

    .holder {
        padding: none;
        margin: none;
        flex-direction: column;
        margin-top: -75rem;
    }

    .info-bottoms {
        /* flex-direction: row; */
        align-items: start;
    }

}